stage {
  color: rgba(255, 255, 255, 0.87); }

.label-shadow {
  color: rgba(0, 0, 0, 0); }

.sound-button, .modal-dialog-button-box .modal-dialog-button, .notification-button, .notification-icon-button, .popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  color: #F0F0F0;
  background-color: #454545;
  border: 1px solid #202020;
  border-radius: 2px;
  box-shadow: inset 0 2px 4px rgba(73, 70, 68, 0.05); }

.sound-button,
.modal-dialog-button-box .modal-dialog-button,
.notification-button, .notification-icon-button,
.popup-menu #notification .notification-button,
.popup-menu #notification .notification-icon-button {
    border-radius: 2px; }

.sound-button:focus, .modal-dialog-button-box .modal-dialog-button:focus, .notification-button:focus, .notification-icon-button:focus, .popup-menu #notification .notification-button:focus, .popup-menu #notification .notification-icon-button:focus {
    color: #F0F0F0;
    background-color: #454545;
    border: 1px solid #EB6E18;
    box-shadow: inset 0 2px 4px rgba(69, 69, 69, 0.05); }

.sound-button:hover, .modal-dialog-button-box .modal-dialog-button:hover, .notification-button:hover, .notification-icon-button:hover, .popup-menu #notification .notification-button:hover, .popup-menu #notification .notification-icon-button:hover {
    color: rgba(255, 255, 255, 0.87);
    background-color: #575350;
    border: 1px solid #222120;
    box-shadow: inset 0 2px 4px rgba(87, 83, 80, 0.05); }

.sound-button:hover:focus, .modal-dialog-button-box .modal-dialog-button:hover:focus, .notification-button:hover:focus, .notification-icon-button:hover:focus, .popup-menu #notification .notification-button:hover:focus, .popup-menu #notification .notification-icon-button:hover:focus {
    color: #F0F0F0;
    background-color: #575350;
    border: 1px solid #FF791A; }

.sound-button:active, .modal-dialog-button-box .modal-dialog-button:active, .notification-button:active, .notification-icon-button:active, .popup-menu #notification .notification-button:active, .popup-menu #notification .notification-icon-button:active {
    color: #FFFFFF;
    background-color: #FF791A;
    border: 1px solid #FF791A;
    box-shadow: inset 0 2px 4px #FF791A; }

.sound-button:insensitive, .modal-dialog-button-box .modal-dialog-button:insensitive, .notification-button:insensitive, .notification-icon-button:insensitive, .popup-menu #notification .notification-button:insensitive, .popup-menu #notification .notification-icon-button:insensitive {
    color: rgba(255, 255, 255, 0.32);
    border: 1px solid rgba(34, 33, 32, 0.55);
    background-color: rgba(73, 70, 68, 0.55);
    box-shadow: inset 0 2px 4px rgba(73, 70, 68, 0.05); }

#menu-search-entry, .popup-menu #notification StEntry {
  font-size: 1em;
  padding: 7px;
  caret-size: 1px;
  selected-color: #FFFFFF;
  selection-background-color: #FF791A;
  border: 1px solid #222120;
  border-radius: 3px;
  color: #D3D3D3;
  background-color: #44413F; }

#menu-search-entry:focus, .popup-menu #notification StEntry:focus, #menu-search-entry:hover, .popup-menu #notification StEntry:hover {
    color: rgba(255, 255, 255, 0.87);
    background-color: #44413F;
    border: 1px solid #FF791A; }

#menu-search-entry:insensitive, .popup-menu #notification StEntry:insensitive {
    color: rgba(255, 255, 255, 0.32);
    background-color: #3C3938;
    border-color: 1px solid #292827;
    box-shadow: inset 0 2px 4px rgba(60, 57, 56, 0.05); }

#menu-search-entry StIcon.capslock-warning, .popup-menu #notification StEntry StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: #FF791A;
    padding: 0 4px; }

.menu-search-entry-icon {        /* the little magnifier glass */
    icon-size: 1em;
    color: #FFFF00;
    padding-top: 2px; }

.notification StEntry {
  padding: 7px;
  caret-size: 1px;
  caret-color: #C3C3C3;
  selection-background-color: #FF791A;
  selected-color: #FFFFFF;
  transition-duration: 300ms;
  border-radius: 3px;
  color: #C3C3C3;
  background-color: rgba(109, 109, 109, 0.4);
  border: 1px solid rgba(22, 22, 22, 0.4);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); }

.notification StEntry:focus {
    color: #FFFFFF;
    background-color: #FF791A;
    border: 1px solid #FF791A;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); }

.notification StEntry:insensitive {
    color: rgba(195, 195, 195, 0.55);
    background-color: rgba(109, 109, 109, 0.25);
    border: 1px solid rgba(22, 22, 22, 0.4);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); }

StScrollView.vfade {
  -st-vfade-offset: 68px; }

StScrollView.hfade {
  -st-hfade-offset: 68px; }

StScrollBar {
  padding: 8px; }

StScrollView StScrollBar {
    min-width: 8px;
    min-height: 8px; }

StScrollBar StBin#trough {
    background-color: rgba(68, 65, 63, 0.6);
    border-radius: 8px; }

StScrollBar StButton#vhandle, StScrollBar StButton#hhandle {
    border-radius: 2px;
    background-color: #7C7C7C;
    border: 0px solid;
    margin: 0px; }

StScrollBar StButton#vhandle:hover, StScrollBar StButton#hhandle:hover {
      background-color: #FF791A; }

StScrollBar StButton#vhandle:active, StScrollBar StButton#hhandle:active {
      background-color: #FF791A; }

.separator {
  -gradient-height: 3px;
  -gradient-start: rgba(0, 0, 0, 0);
  -gradient-end: rgba(0, 0, 0, 0);
  -margin-horizontal: 1.5em;
  height: 1em; }

.popup-slider-menu-item,
.slider {
  -slider-height: 0.3em;
  -slider-background-color: #222120;
  -slider-border-color: rgba(50, 48, 47, 0.3);
  -slider-active-background-color: #FF791A;
  -slider-active-border-color: rgba(50, 48, 47, 0.3);
  -slider-border-width: 1px;
  -slider-handle-radius: 0.5em;
  height: 1em;
  min-width: 15em;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px; }

.check-box CinnamonGenericContainer {
  spacing: .2em;
  min-height: 30px;
  padding-top: 2px; }

.check-box StLabel {
  font-weight: normal; }

.check-box StBin {
  width: 16px;
  height: 16px;
  background-image: url("dark-assets/checkbox/checkbox-unchecked.svg"); }

.check-box:focus StBin {
  background-image: url("dark-assets/checkbox/checkbox-unchecked-focused.svg"); }

.check-box:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked.svg"); }

.check-box:focus:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked-focused.svg"); }

.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  height: 26px;
  padding-top: 2px; }

.radiobutton StLabel {
  padding-top: 4px;
  font-size: 0.9em;
  box-shadow: none; }

.radiobutton StBin {
  width: 16px;
  height: 16px;
  background-image: url("dark-assets/checkbox/checkbox-unchecked.svg"); }

.radiobutton:focus StBin {
  background-image: url("dark-assets/checkbox/checkbox-unchecked-focused.svg"); }

.radiobutton:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked.svg"); }

.radiobutton:focus:checked StBin {
  background-image: url("dark-assets/checkbox/checkbox-checked-focused.svg"); }

.toggle-switch {
  width: 50px;
  height: 20px;
  background-size: contain; }

.toggle-switch-us, .toggle-switch-intl {
    background-image: url("dark-assets/switch/switch-off.svg"); }

.toggle-switch-us:checked, .toggle-switch-intl:checked {
      background-image: url("dark-assets/switch/switch-on.svg"); }

.cinnamon-link {
  color: #FF974D;
  text-decoration: underline; }

.cinnamon-link:hover {
    color: #FFB580; }

#Tooltip {
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    padding: 5px 12px;
    background-color: #FBEAA0;
    font-size: 1em;
    font-weight: normal;
    color: #000000;
    text-align: center; }

/* ===================================================================
* PopupMenu (popupMenu.js)
* ===================================================================*/

.popup-menu-boxpointer {
  -arrow-border-radius: 3px;
  -arrow-background-color: #32302F;
  -arrow-border-width: 1px;
  -arrow-border-color: #222120;
  -arrow-base: 21px;
  -arrow-rise: 9px;
  -boxpointer-gap: 2px; }

.menu {
  font-size: 1.05em;
  color: #FFFFFF;
  border: 1px solid #FF7919;
  border-radius: 0px;
  background-color: #210F00;
  background-image: url("common-assets/menu/background.jpg");
  background-repeat: repeat; }

.menu.top {
    border-radius: 0 0 3px 3px;
    border-top-width: 3px; }

.menu.bottom {
    border-radius: 3px 3px 0 0;
    border-bottom-width: 3px; }

.menu.left {
    border-radius: 0 3px 3px 0;
    border-left-width: 0px; }

.menu.right {
    border-radius: 3px 0 0 3px;
    border-right-width: 0px; }

.popup-sub-menu {  /* troubleshooting drilldown */
  background-color: #44413F;
  box-shadow: none; }

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 1.5em; }

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 1.5em; }

.popup-sub-menu StScrollBar {
    padding: 4px; }

.popup-sub-menu StScrollBar StBin#trough, .popup-sub-menu StScrollBar StBin#vhandle {
      border-width: 0; }

.popup-menu-content {   /* around the entire window */
  padding: .4em .2em; }

.popup-menu-item {
  padding: .1em 1em;
  spacing: .2em;
  border-left-width: 0;
  border-right-width: 0; }

.popup-menu-item:active {
    color: #000000;
    background-color: #FF791A; }

.popup-menu-item:insensitive {
    color: rgba(255, 255, 255, 0.37);
    background: none; }

.popup-inactive-menu-item {
  color: rgba(255, 255, 255, 0.87); }

.popup-inactive-menu-item:insensitive {
    color: rgba(255, 255, 255, 0.32); }

/* This is for popup menus in Cinnamon versions < 3.2 */
.popup-menu {
  color: #FFFFFF; }

.popup-menu-arrow {
    icon-size: 16px; }

.popup-menu .popup-sub-menu {
    background-color: #44413F;
    box-shadow: none; }

.popup-menu .popup-sub-menu .popup-menu-item:ltr {
      padding-right: 1.5em; }

.popup-menu .popup-sub-menu .popup-menu-item:rtl {
      padding-left: 1.5em; }

.popup-menu .popup-sub-menu StScrollBar {
      padding: 4px; }

.popup-menu .popup-sub-menu StScrollBar StBin#trough, .popup-menu .popup-sub-menu StScrollBar StBin#vhandle {
        border-width: 0; }

.popup-menu .popup-menu-content {
    padding: 1em 0em; }

.popup-menu .popup-menu-item {
    padding: .4em 1.5em;
    spacing: 1em;
    border: 1px solid transparent; }

.popup-menu .popup-menu-item:active {
      color: rgba(255, 255, 255, 0.87);
      border-color: rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0); }

.popup-menu .popup-menu-item:insensitive {
      color: rgba(255, 255, 255, 0.37);
      background: none; }

.popup-menu .popup-inactive-menu-item {
    color: rgba(255, 255, 255, 0.87); }

.popup-menu .popup-inactive-menu-item:insensitive {
      color: rgba(255, 255, 255, 0.32); }

.popup-menu-icon {      /* icon on popup panel menu */
    icon-size: .9em; color: #FFFF00; }

/* Scale view context menu */
.popup-combo-menu {
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #222120;
  border-radius: 3px;
  background-color: #44413F;
  box-shadow: none;
  padding: 1em 0em; }

.popup-combobox-item {  /* This shows up on 'recent documents' applet.  Spacing of line items  */
  spacing: .2em;
  padding: .2em 1.2em;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0; }

.popup-separator-menu-item {    /* horizontal stripe in popup menus  */
  -gradient-height: 2px;
  -gradient-start: #FF0000;
  -gradient-end: #FFFF00;  /* middle */
  -margin-horizontal: 0;
    margin: 5px 0;
    height: 3px; }

.popup-alternating-menu-item:alternate {
  font-weight: normal; }

.popup-device-menu-item {
  spacing: .5em; }

.popup-subtitle-menu-item {
  font-weight: normal; }

.nm-menu-item-icons {
  spacing: .5em; }

#panel {
  font-weight: normal;
  font-size: 1.125em;
  height: 40px;    /* sets the height of horizontal panels */
  width: 32px; }     /* sets the width of vertical panels */

/*#panelLeft .applet-box:first-child {
    background-image: url("common-assets/panel/start.svg");
    border-image: none;
    width: 75px; }

#panelLeft .applet-box:first-child:hover {
    background-image: url("common-assets/panel/start-hover.svg");
    border-image: none; }

#panelLeft .applet-box:first-child:active {
    background-image: url("common-assets/panel/start-active.svg");
    border-image: none; }
*/
#panelLeft {
    spacing: 0px; }  /* spacing between 'show desktop' and pinned launchers in panel */

  #panelLeft:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(255, 0, 0, 0.05);
      background-gradient-end: rgba(255, 0, 0, 0.2); }

  #panelLeft:ltr {
      padding-right: 4px; }

  #panelLeft:rtl {
      padding-left: 4px; }

  #panelLeft.vertical {
      padding: 0px; }

    #panelLeft.vertical:ltr {
        padding-right: 0px; }

    #panelLeft.vertical:rtl {
        padding-left: 0px; }

#panelRight:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 0, 255, 0.05);
    background-gradient-end: rgba(0, 0, 255, 0.2); }

#panelRight:ltr {
    padding-left: 4px;
    spacing: 0px; }

#panelRight:rtl {
    padding-right: 4px;
    spacing: 0px; }

#panelRight.vertical {
    padding: 0px; }

  #panelRight.vertical:ltr {
      padding-right: 0px; }

  #panelRight.vertical:rtl {
      padding-left: 0px; }

#panelCenter {
    spacing: 4px; }

#panelCenter:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(0, 255, 0, 0.05);
      background-gradient-end: rgba(0, 255, 0, 0.2); }

#panel:highlight {
    border-image: none;
    background-color: rgba(242, 13, 31, 0.5); }

.panelLeft {
  spacing: 0px; }

.panelLeft:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255, 0, 0, 0.05);
    background-gradient-end: rgba(255, 0, 0, 0.2); }

.panelLeft:ltr {
    padding-right: 4px; }

.panelLeft:rtl {
    padding-left: 0px; }

.panelLeft.vertical {
    padding: 0px; }

.panelLeft.vertical:ltr {
      padding-right: 0px; }

.panelLeft.vertical:rtl {
      padding-left: 0px; }

.panelRight:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0, 0, 255, 0.05);
  background-gradient-end: rgba(0, 0, 255, 0.2); }

.panelRight:ltr {
  padding-left: 4px;
  spacing: 0px; }

.panelRight:rtl {
  padding-right: 4px;
  spacing: 0px; }

.panelRight.vertical {
  padding: 0px; }

.panelRight.vertical:ltr {
    padding-left: 0px;
    spacing: 0px; }

.panelRight.vertical:rtl {
    padding-right: 0px;
    spacing: 0px; }

.panelCenter {
  spacing: 4px; }

.panelCenter.vertical {
    padding-left: 0px;
    padding-right: 0px; }

.panelCenter:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 255, 0, 0.05);
    background-gradient-end: rgba(0, 255, 0, 0.2); }

.panel-top, .panel-bottom, .panel-left, .panel-right {
  color: #FFFFFF;
  border: none;
  background-color: #261100;
  background-image: url("common-assets/menu/background.jpg");
  background-repeat: repeat;
  font-size: 1em;
  padding: 0px; }

/*.panel-top {
  box-shadow: 0 1px #222120; }

.panel-bottom {
  box-shadow: 0 -1px #222120; }

.panel-left {
  box-shadow: 1px 0 #222120; }

.panel-right {
  box-shadow: -1px 0 #222120; } */

.panel-dummy {
  background-color: rgba(242, 13, 31, 0.5); }

.panel-dummy:entered {
    background-color: rgba(242, 13, 31, 0.6); }

.panel-status-button {
  border-width: 0;
  -natural-hpadding: 3px;
  -minimum-hpadding: 3px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.87); }

.panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 2px;
  font-weight: normal;
  color: green;
  transition-duration: 100; }

.system-status-icon {
  icon-size: 16px;
  padding: 0 1px; }

.system-status-icon.warning {
    color: #FF791A; }

.system-status-icon.error {
    color: #F20D1F; }

#overview {
  spacing: 12px; }

.window-caption {
  background-color: #353535;
  border: 1px solid #353535;
  color: #C3C3C3;
  spacing: 8px;
  border-radius: 2px;
  font-size: 0.9em;
  padding: 5px 8px;
  -cinnamon-caption-spacing: 8px; }

.window-caption:focus {
    background-color: #FF791A;
    color: #FFFFFF;
    border: 1px solid #FF791A; }

.window-border {
  border: 3px #FF791A;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.05);
  /* Cover rounded corners and some bad adjustment gaps */
  box-shadow: 0 0 0 1px #FF791A inset; }

.overview-empty-placeholder {
  color: #FFFFFF;
  font-size: 2em; }

.expo-workspaces-name-entry,
.expo-workspaces-name-entry#selected {
  height: 1.5em;
  border-radius: 2px;
  font-size: 1em;
  padding: 5px 8px;
  -cinnamon-caption-spacing: 4px;
  color: #C3C3C3;
  background-color: rgba(109, 109, 109, 0.4);
  border: 1px solid rgba(22, 22, 22, 0.4);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); }

.expo-workspaces-name-entry:focus,
.expo-workspaces-name-entry#selected:focus {
    border: 1px solid #FF791A;
    background-color: #FF791A;
    color: #FFFFFF;
    font-style: italic;
    transition-duration: 300;
    selection-background-color: #FFFFFF;
    selected-color: #FF791A; }

.expo-workspace-thumbnail-frame {
  border: 4px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px; }

.expo-workspace-thumbnail-frame#active {
    border: 4px solid #FF791A;
    background-color: black;
    border-radius: 2px; }

.expo-background {
  background-color: #353535; }

.workspace-thumbnails {
  spacing: 26px; }

.workspace-thumbnails-background, .workspace-thumbnails-background:rtl {
    padding: 8px; }

.workspace-add-button {
  background-image: url("common-assets/misc/add-workspace.svg");
  height: 200px;
  width: 35px;
  transition-duration: 100; }

.workspace-add-button:hover {
    background-image: url("common-assets/misc/add-workspace-hover.svg");
    transition-duration: 100; }

.workspace-add-button:active {
    background-image: url("common-assets/misc/add-workspace-active.svg");
    transition-duration: 100; }

.workspace-overview-background-shade {
  background-color: rgba(0, 0, 0, 0.5); }

.workspace-close-button,
.window-close {
  background-image: url("common-assets/misc/close.svg");
  background-size: 26px;
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 12px; }

.workspace-close-button:hover,
.window-close:hover {
    background-image: url("common-assets/misc/close-hover.svg");
    background-size: 26px;
    height: 26px;
    width: 26px; }

.workspace-close-button:active,
.window-close:active {
    background-image: url("common-assets/misc/close-active.svg");
    background-size: 26px;
    height: 26px;
    width: 26px; }

.window-close-area {
    background-image: url("common-assets/misc/trash-icon.svg");
    height: 120px;
    width: 400px; }

/* ===================================================================
* Looking Glass    Alt-F2 and type lg <enter>
* ===================================================================*/

#LookingGlassDialog {
    color: #F0F0F0;
    border: 1px solid #202020;
    border-radius: 3px;
    background-color: #2F2F2F;
    spacing: 4px;
    padding: 8px; }


/* ===================================================================
* Calendar on clock in panel
* ===================================================================*/
.calendar {
    padding: .4em 1em;
    spacing-rows: 0px;
    spacing-columns: 0px; }

.calendar-main-box {
    margin: 0 .8em .5em .8em; }

.calendar-events-main-box {
    height: 300px;
    min-width: 350px;
    margin-right: .5em;
    margin-left: .5em;
    padding: .5em;
    border: 1px solid #DADADA;
    background-color: #000000; }

.calendar-events-main-box .separator {
    background: rgba(236, 111, 24, .4);
    height: 1px;  }

.calendar-events-no-events-box {
    background-color: #FF791A;}    /* the small box that says "no events" */

.calendar-events-no-events-button {
    margin: 6px 0 6px 0;
    padding: 6px; }

.calendar-events-no-events-button:hover {
    background-color: #FF791A; }

.calendar-events-no-events-button:hover .calendar-events-no-events-icon,
.calendar-events-no-events-button:hover .calendar-events-no-events-label {
    color: #FFFFFF; }

.calendar-events-no-events-icon,
.calendar-events-no-events-label {
    font-weight: bold;
    color: #000000;
    text-align: center; }

.calendar-events-date-label {
    padding: 0 .1em 0 .1em;
    margin: 0;
    color: rgba(255, 255, 77, 1);
    font-weight: bold;
    text-align: center; }

.calendar-events-event-container {
    padding: 0;
    margin: 0; }

.calendar-event-button {
    margin: 7px; }

.calendar-event-row-content {
    font-size: .875em;
    margin: 2px 7px 2px 7px; }

.calendar-event-time-past {
    color: #e55700;
    text-decoration: line-through;
    text-align: left;
    margin: 0 20px 0 0; }

.calendar-event-button .calendar-event-time-present {
    color: #69CE20;
    font-weight: bold;
    text-align: left;
    margin: 0 20px 0 0; }

.calendar-event-button .calendar-event-time-present:all-day {
    color: #85A0FC; }

.calendar-event-button .calendar-event-time-future {
    color: #FFFF00;
    font-weight: bold;
    text-align: left;
    margin: 0 20px 0 0; }

.calendar-event-button .calendar-event-summary {
    color: #FFFFFF;
    text-align: left;
    width: 200px;
    padding-bottom: 2px; }

.calendar-event-button .calendar-event-countdown {
    text-align: right;
    margin-bottom: .2em;
    color: rgba(255, 255, 255, 0.87); }

.calendar-event-button .calendar-event-countdown:soon {
    font-weight: bold;
    color: #45A600; }  /* dark green */

.calendar-event-button .calendar-event-countdown:imminent {
    font-weight: bold;
    color: #98FA52; }   /* bright green */

.calendar-event-button .calendar-event-countdown:current {
    font-weight: bold;
    color: #69CE20; }  /* green */

.calendar-event-button:hover {
    background-color: #b54b00; }

.calendar-event-button:hover .calendar-event-time-past,
.calendar-event-button:hover .calendar-event-time-present,
.calendar-event-button:hover .calendar-event-time-future,
.calendar-event-button:hover .calendar-event-summary {
    color: #FFFFFF; }

.calendar-event-button:hover .calendar-event-countdown {
    text-align: right;
    margin-bottom: .2em;
    color: #FFFFFF; }

.calendar-event-button:hover .calendar-event-countdown:soon,
.calendar-event-button:hover .calendar-event-countdown:imminent,
.calendar-event-button:hover .calendar-event-countdown:current {
    font-weight: bold; }

.calendar-event-color-strip {
    width: 10px; }

.calendar-today-home-button-enabled {
    border: 1px solid teal;
    padding: 6px; }

.calendar-today-home-button {
    border: 1px solid transparent;
    padding: 6px; }

.calendar-today-day-label { /* Big day at the top */
    font-size: 2em;
    color: #FF791A;
    font-family: Arial Rounded MT Bold, University, Arial, Ubuntu;
    text-align: center;
    padding-bottom: .2em; }

.calendar-today-date-label {  /* Complete date at the top */
    padding: .4em 1.7em;
    font-weight: normal;
    text-align: center;
    color: #FFFF44;
    font-size: 1.1em; }

.calendar-today-home-button-enabled:hover {
    background-color: #6B0000; }

.calendar-today-home-button-enabled:hover .calendar-today-day-label {
    color: #FFFFFF; }

.calendar-today-home-button-enabled:hover .calendar-today-date-label {
    color: #FFFFFF; }

.calendar-month-label {          /* month and year for forward/backwards */
    color: #FFFFFF;
    font-size: 1.25em;
    font-weight: normal;
    padding: 2px 0 0 0; }

.calendar-change-month-back,
.calendar-change-month-forward {
    width: 40px;
    height: 24px; }

.calendar-change-month-back {
    background-image: url("common-assets/misc/calendar-arrow-left.svg"); }

.calendar-change-month-back:focus,
.calendar-change-month-back:hover {
    background-image: url("common-assets/misc/calendar-arrow-left-hover.svg"); }

.calendar-change-month-back:active {
    background-image: url("common-assets/misc/calendar-arrow-left.svg"); }

.calendar-change-month-back:rtl {
    background-image: url("common-assets/misc/calendar-arrow-right.svg"); }

.calendar-change-month-back:rtl:focus,
.calendar-change-month-back:rtl:hover {
    background-image: url("common-assets/misc/calendar-arrow-right-hover.svg"); }

.calendar-change-month-back:rtl:active {
    background-image: url("common-assets/misc/calendar-arrow-right.svg"); }

.calendar-change-month-forward {
    background-image: url("common-assets/misc/calendar-arrow-right.svg"); }

.calendar-change-month-forward:focus,
.calendar-change-month-forward:hover {
    background-image: url("common-assets/misc/calendar-arrow-right-hover.svg"); }

.calendar-change-month-forward:active {
    background-image: url("common-assets/misc/calendar-arrow-right.svg"); }

.calendar-change-month-forward:rtl {
    background-image: url("common-assets/misc/calendar-arrow-left.svg"); }

.calendar-change-month-forward:rtl:focus, .calendar-change-month-forward:rtl:hover {
    background-image: url("common-assets/misc/calendar-arrow-left-hover.svg"); }

.calendar-change-month-forward:rtl:active {
    background-image: url("common-assets/misc/calendar-arrow-left.svg"); }

.calendar-day-event-dot-box {
    margin-top: 1.7em;
    max-rows: 1; }

.calendar-day-event-dot {
    margin: 2px;
    border-radius: 2px;
    width: 4px;
    height: 4px; }

.calendar-day-base {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 1.25em;
    color: #FFFFFF;
    width: 2.18em;    /* has to be this wide to make day names mon tue wed to show completely, that or make them smaller */
    height: 1.8em; }

.calendar-day-base:selected,
.calendar-day-base:active {
    font-weight: normal;
    color: #FFFFFF;
    background-color: #D14C17; }

.calendar-day-base:hover {
    color: #FFFFFF;
    background: #D16315; }

.calendar-day-heading {  /* mon tue etc */
    color: yellow;
    padding: 0px; margin: 0px;
    margin-top: 20px;
    font-size: .8em; }

.calendar-day-top {
    border-top-width: 1; }

.calendar-day-left {
    border-left-width: 1; }

.calendar-nonwork-day {
    color: #989898;
    background-color: transparent; }

.calendar-nonwork-day:selected {
    color: #FFDDDD; }

.calendar-today,
.calendar-today:active,
.calendar-today:focus,
.calendar-today:hover {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #D46315;
    border-width: 0; }

.calendar-today:selected {
    color: #FFFFFF;
    font-weight: bold; }

.calendar-not-today {
    color: #FFFFFF;
    background: #000000; }

.calendar-not-today:selected {
    font-weight: bold;
    background-color: transparent; }

.calendar-not-today:selected:hover {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.87); }

.calendar-other-month-day {
    color: #FF7719;
    opacity: 1;
    border: 0px; }

.calendar-work-day { }

.calendar-other-month-day:hover {
    color: #000000;
    opacity: 1; }

.calendar-week-number {
    color: rgba(255, 140, 140, 0.65);
    font-size: 0.8em;
    margin-top: 0.85em; }

/* ===================================================================
    Notifications     Global settings for popup, later line 1500+ defines applet
   header only in popup is just one line, but in notification applet, a time line is added.  Space is needed for 2 lines.
* ===================================================================*/
#notification {    /* single line no body */
    font-size: 1em;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 5px;
    border-radius: 10px;
    background-color: #000000;
    padding: 23px;
    spacing-rows: 8px;
    spacing-columns: 10px;
    margin-from-right-edge-of-screen: 20px;
    min-height: 50px;   /* fixes one line, header only, notification */
    width: 44em;
    color: #FF6219; }  /* match color in multi-line below */

.popup-menu #notification {
    color: rgba(255, 255, 255, 0.87);
    /*border-image: url("dark-assets/misc/message.svg") 9 9 9 9;  */ }

.popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button {
    padding: 23px; }

#notification.multi-line-notification { /* header date and subject */
    padding-bottom: 13px;
    color: #FF6219; }   /* time & title color */

#notification-scrollview {
/*    max-height: 10em;*/ }

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
      height: 1em; }

#notification-scrollview:ltr > StScrollBar {
      padding-left: 6px; }

#notification-scrollview:rtl > StScrollBar {
      padding-right: 6px; }

#notification-body {
    padding-top: 10px;
    spacing: 5px;
    color: #FFFFFF; }   /* body of text */

#notification-actions {
    spacing: 10px; }

.notification-with-image {
/*  min-height: 159px; */
  color: #FFFFFF; }

.notification-button, .notification-icon-button {
  padding: 5px; }

.notification-icon-button > StIcon {
  icon-size: 32px; }

#altTabPopup {
  padding: 8px;
  spacing: 16px; }

.switcher-list {
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #222120;
  background-color: #32302F;
  border-radius: 3px;
  padding: 20px; }

.switcher-list > StBoxLayout {
    padding: 4px; }

.switcher-list-item-container {
    spacing: 8px; }

.switcher-list .item-box {
    padding: 8px;
    border-radius: 2px; }

.switcher-list .item-box:outlined {
      padding: 8px;
      border: 1px solid #FF791A; }

.switcher-list .item-box:selected {
      color: #FFFFFF;
      background-color: #FF791A;
      border: 0px solid #FF791A; }

.switcher-list .thumbnail {
    width: 256px; }

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px; }

.switcher-list .separator {
    width: 1px;
    background: rgba(255, 255, 255, 0.2); }

.switcher-arrow {
  border-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.87); }

.switcher-arrow:highlighted {
    border-color: rgba(0, 0, 0, 0);
    color: #FFFFFF; }

.thumbnail-scroll-gradient-left {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  width: 60px; }

.thumbnail-scroll-gradient-right {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  border-radius-topleft: 0px;
  border-radius-bottomleft: 0px;
  width: 60px; }

.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("common-assets/misc/corner-ripple.svg");
  background-size: contain; }

.ripple-box:rtl {
    background-image: url("common-assets/misc/corner-ripple.svg"); }

.lightbox {
  background-color: rgba(0, 0, 0, 0.4); }

.flashspot {
  background-color: #FFFFFF; }

.modal-dialog {     /* whole box with question / info and buttons */
  background-color: #32302F;
  border: 1px solid #E85000;
  border-radius: 3px;
  padding: 5px 10px; }

.modal-dialog > StBoxLayout:first-child {
    padding: 10px; }

.modal-dialog-button-box {  /* this is a box around both y/n buttons.  Try removing an applet, you see 2 buttons y/n  */
    spacing: 0;
    margin: 0px;
    padding: 10px;
    border: none;
    background-color: #32302F; }

.modal-dialog-button-box .modal-dialog-button {
      padding-top: 0;
      padding-bottom: 0;
      height: 30px; }

.modal-dialog .confirm-dialog-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 12px; }

/* ===================================================================
* Run dialog
* ===================================================================*/

.run-dialog {
  padding: 10px 15px 10px 15px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  background-color: #6B1900; }

.run-dialog > * {
    padding: 0; }

.run-dialog-label {
    font-size: 1.25em;
    font-style: italic;
    color: #FFFFFF;
    padding-bottom: 15px;
    text-align: center; }

.run-dialog-description {
    font-size: 1.125em;
    color: #F2F227;  /* press Esc to close */
    margin-top: 0px;
    padding-top: 15px;
    text-align: center; }

.run-dialog-description.error {
    font-size: .9375em;
    color: #F2F227; }

.run-dialog-completion-box {
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1.1em; }

.run-dialog-entry {
    width: 15em;
    height: 1.2em;
    padding: 7px;
    border-radius: 3px;
    caret-color: #C3C3C3;
    selected-color: yellow;
    selection-background-color: #9E5A29;
    color: #FFFFFF;
    background-color: black;
    border: 1px solid #003E00; }

.run-dialog-entry:focus {
    color: #FFFFFF;
    background-color: black;
    border: 1px solid #003E00; }

.run-dialog .modal-dialog-button-box {
    border: none;
    width: 300px;
    box-shadow: none;
    background: none; }


/* ===================================================================
   CinnamonMountOperation Dialogs
* ===================================================================*/
.cinnamon-mount-operation-icon {
  icon-size: 48px; }

.mount-password-reask {
  color: #FF791A; }

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px; }

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px; }

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
      padding-left: 0px;
      padding-right: 17px; }

.show-processes-dialog-description,
.mount-question-dialog-description {
    padding-left: 17px;
    width: 28em; }

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
      padding-right: 17px; }

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px; }

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px; }

.show-processes-dialog-app-list-item {
    color: #ccc; }

.show-processes-dialog-app-list-item:hover {
    color: #FFFFFF; }

.show-processes-dialog-app-list-item:ltr {
      padding-right: 1em; }

.show-processes-dialog-app-list-item:rtl {
      padding-left: 1em; }

.show-processes-dialog-app-list-item-icon:ltr {
      padding-right: 17px; }

.show-processes-dialog-app-list-item-icon:rtl {
      padding-left: 17px; }

.show-processes-dialog-app-list-item-name {
      font-size: 1.1em; }

.magnifier-zoom-region {
  border: 2px solid maroon; }

.magnifier-zoom-region .full-screen {
    border-width: 0px; }

#keyboard {
  background-color: #353535;
  border-width: 0;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, 0.4); }

.keyboard-layout {
  spacing: 10px;
  padding: 10px; }

.keyboard-row {
  spacing: 15px; }

.keyboard-key {
  min-height: 2em;
  min-width: 2em;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: none;
  color: #C3C3C3;
  border: 1px solid #222120;
  background-color: rgba(109, 109, 109, 0.4); }

.keyboard-key:hover {
    color: #C3C3C3;
    border: 1px solid rgba(2, 2, 2, 0.4);
    background-color: rgba(127, 127, 127, 0.5); }

.keyboard-key:active, .keyboard-key:checked {
    color: #FFFFFF;
    border: 1px solid #FF791A;
    background-color: #FF791A; }

.keyboard-key:grayed {
    color: #606060;
    border: 1px solid rgba(2, 2, 2, 0.4);
    background-color: rgba(109, 109, 109, 0.25); }

.keyboard-subkeys {
  color: #C3C3C3;
  padding: 5px;
  -arrow-border-radius: 2px;
  -arrow-background-color: #353535;
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0, 0, 0, 0.4);
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px; }

/* ===================================================================
* Menu (menu.js)
* ===================================================================*/

.menu-applications-outer-box {
    margin-top: 15px; }

.menu-favorites-box {
  padding: 2px;
  transition-duration: 300;
  background-color: black;
  border: 1px solid #FF791A; }

/*===========================================
        Favorites Button
=============================================*/
.menu-favorites-button {
    margin: .1em .3em;
    padding: .2em;
    border: 2px solid rgba(0, 0, 0, 0); }

.menu-favorites-button:hover {
    margin: .1em .3em;
    padding: .2em;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: #FF791A; }

.menu-places-box {
  padding: 10px;
  border: 0px solid red; }

.menu-places-button {
  padding: 10px; }

.menu-categories-box {
  padding: 10px 30px 10px 30px; }

.menu-applications-inner-box, .menu-applications-outer-box {
  padding: 10px 10px 0 10px; }

/*===========================================
        Application Button
=============================================*/
.menu-application-button {
  padding: 4px;
  border: 2px solid rgba(0, 0, 0, 0); }

.menu-application-button:hover,
.menu-application-button-selected {
    padding: 4px;
    color: #FFFFFF;
    background-color: #000000;
    border: 2px solid #FF791A; }


.menu-application-button-label:ltr {
    padding-left: 5px; }

.menu-application-button-label:rtl {
    padding-right: 5px; }

/*===========================================
        Category Button
=============================================*/
.menu-category-button {
  padding: 4px;
  border: 2px solid rgba(0, 0, 0, 0); }

.menu-category-button:hover,
.menu-category-button-selected {
    padding: 4px;
    color: #FFFFFF;
    background-color: #000000;
    border: 2px solid #FF791A; }

.menu-category-button-greyed {
    padding: 4px;
    color: rgba(255, 255, 255, 0.32);
    border: 2px solid rgba(0, 0, 0, 0); }

.menu-category-button-label:ltr {
    padding-left: 4px; }

.menu-category-button-label:rtl {
    padding-right: 4px; }

.menu-selected-app-box {    /* this is the box at the bottom for description of app selected */
    padding-right: 30px;
    padding-left: 28px;
    text-align: right;
    height: 2.2em;
    margin: 5px 0px 0px 0px; } /* In Mint 20 bottom setting is set to zero */

.menu-selected-app-box:rtl {
    padding-top: 10px;
    height: 2.2em; }

.menu-selected-app-title {
    font-weight:bold;
    font-size: 1em;
    color: #FFFFFF; }

.menu-selected-app-description {
    max-width: 150px;
    font-size: 1em;
    color: #FF791A; }

.menu-search-box:ltr {
    padding-left: 30px; }

.menu-search-box:rtl {
    padding-right: 30px; }

/*===========================================
        OSD adjustments
=============================================*/
.info-osd {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #222120;
  border-radius: 5px;
  background-color: #32302F; }

.restart-osd {   /* restarting cinnamon popup, from Alt-F2 'r'    */
  background-color: #FF791A;
  color: #000000;
  font-size: 1.4em;
  font-weight: normal;
  border-radius: 15px;
  width: 400px; }

.workspace-osd {
  font-size: 4em; }

.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 20px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212; /* OSD display of volume (sound) icon & % */
  border: 2px solid #FF791A;
  border-radius: 15px; }

.osd-window .osd-monitor-label {
    font-size: 3em; }

.osd-window .level {
    padding: 0;
    height: 0.7em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px; }

.osd-window .level-bar {
    border-radius: 2px;
    background-color: #FF791A; } /* volume percent scroll bar for sound when scrolling the volume level  */

/* ===================================================================
* Window list (windowList.js)   panel items or tabs
* ===================================================================*/

.window-list-box {
  spacing: 2px;     /* spacing between running programs in panel */
  padding-left: 10px; }

.window-list-box.vertical {
    spacing: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 10px; }

.window-list-box:highlight {
    background-color: rgba(242, 13, 31, 0.5); }

.window-list-item-label {
  font-weight: normal;
  width: 15em;
  min-width: 5px; }

.window-list-item-box {
  font-weight: normal;
  background-image: none;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 100;
  color: #BBBBBB; }

.window-list-item-box.top, .window-list-item-box.bottom {
    border-bottom-width: 2px; }

.window-list-item-box.top StLabel, .window-list-item-box.bottom StLabel {
    padding-left: 3px; }

.window-list-item-box.right {
    padding-left: 0px;
    padding-right: 0px;
    border-right-width: 3px; }

.window-list-item-box.right StBin {
      padding-right: 0; }

.window-list-item-box.left {
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 2px; }

.window-list-item-box.left StBin {
      padding-left: 1px; }

.window-list-item-box:hover, .window-list-item-box:groupFocus {
    color: #FFFFFF;
    background-color: rgba(166, 65, 0, 0.5); }

.window-list-item-box:active, .window-list-item-box:checked, .window-list-item-box:focus, .window-list-item-box:running {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #A63700; }  /* shade the active panel item. */

.window-list-item-box .progress {
    background-color: rgba(255, 121, 26, 0.8); }

.window-list-item-demands-attention {
  background-gradient-direction: vertical;
  background-gradient-start: #F20D1F;
  background-gradient-end: #F20D1F; }

.window-list-preview {
  spacing: 6px;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #FF791A;
  background-color: #000000;
  border-radius: 3px;
  padding: 10px 15px 15px 15px;
  font-size: 1em; }

.grouped-window-list-item-label {
  font-weight: normal;
  width: 15em;
  min-width: 5px; }

.grouped-window-list-item-box {
  text-align: left;
  font-weight: normal;
  background-image: none;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 100;
  color: rgba(255, 255, 255, 0.67); }

.grouped-window-list-item-box.top, .grouped-window-list-item-box.bottom {
    border-bottom-width: 3px; }

.grouped-window-list-item-box.top StLabel, .grouped-window-list-item-box.bottom StLabel {
      padding-left: 2px; }

.grouped-window-list-item-box.right {
    padding-left: 0px;
    padding-right: 0px;
    border-right-width: 3px; }

.grouped-window-list-item-box.right StBin {
      padding-right: 0; }

.grouped-window-list-item-box.left {
    padding-left: 0px;
    padding-right: 0px;
    border-left-width: 3px; }

.grouped-window-list-item-box.left StBin {
      padding-left: 1px; }

.grouped-window-list-item-box:hover, .grouped-window-list-item-box:focus {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(255, 255, 255, 0.17); }

.grouped-window-list-item-box:active, .grouped-window-list-item-box:checked {
    color: rgba(255, 255, 255, 0.87);
    border-color: #FF791A; }

.grouped-window-list-item-box .progress {
    background-color: rgba(255, 121, 26, 0.8); }

.grouped-window-list-item-demands-attention {
  background-gradient-direction: vertical;
  background-gradient-start: #F20D1F;
  background-gradient-end: #F20D1F; }

.grouped-window-list-thumbnail-label {
  padding-left: 4px; }

.grouped-window-list-number-label {
  z-index: 99;
  color: #D0D0D0; }

.grouped-window-list-badge {
  border-radius: 256px;
  background-color: #4A4A4A; }

.grouped-window-list-button-label {
  padding-left: 4px; }

.grouped-window-list-thumbnail-alert {
  background: rgba(255, 52, 52, 0.3); }

.grouped-window-list-thumbnail-menu {
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid #222120;
  background-color: #32302F;
  border-radius: 3px;
  padding: 0px; }

.grouped-window-list-thumbnail-menu > StBoxLayout {
    padding: 4px; }

.grouped-window-list-thumbnail-menu .item-box {
    padding: 10px;
    border-radius: 2px;
    spacing: 4px; }

.grouped-window-list-thumbnail-menu .item-box:outlined {
      padding: 8px;
      border: 1px solid #FF791A; }

.grouped-window-list-thumbnail-menu .item-box:selected {
      border: 1px solid #FF791A; }

.grouped-window-list-thumbnail-menu .thumbnail {
    width: 256px; }

.grouped-window-list-thumbnail-menu .separator {
    width: 1px;
    background: rgba(255, 255, 255, 0.2); }

/* ===================================================================
* Sound Applet (status/volume.js)
* ===================================================================*/

.sound-button {
  width: 22px;
  height: 13px;
  padding: 8px; }

.sound-button-container {
    padding-right: 3px;
    padding-left: 3px; }

.sound-button StIcon {
    icon-size: 1.09em; }

.sound-track-infos {
    padding: 2px; }

.sound-track-info {
    padding-top: 2px;
    padding-bottom: 2px; }

.sound-track-info StIcon {
    icon-size: 16px; }

.sound-track-info StLabel {
    padding-left: 5px;
    padding-right: 5px; }

.sound-track-box {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 220px; }

.sound-seek-box {
    padding-left: 15px; }

.sound-seek-box StLabel {
    padding-top: 2px; }

.sound-seek-box StIcon {
    icon-size: 16px; }

.sound-seek-slider {
    width: 140px; }

.sound-volume-menu-item {
    padding: .4em 1.5em; }

.sound-volume-menu-item StIcon {
    icon-size: 1.14em;
    padding-left: 8px;
    padding-right: 8px; }

.sound-playback-control {
    padding: 5px 10px 10px 10px; }

.sound-player > StBoxLayout:first-child {
    padding: 5px 10px 12px 10px;
    spacing: 0.5em; }

.sound-player > StBoxLayout:first-child StButton:small {
    width: 20px;
    height: 20px;
    border: 1px solid #EB6E18; }

.sound-player > StBoxLayout:first-child StButton:small StIcon {
      icon-size: 12px; }

.sound-player > StBoxLayout:first-child StButton:small:hover {
      color: #F0F0F0;
      background-color: #525252;
      border: 2px solid #FFFFFF;
      box-shadow: inset 0 2px 4px rgba(82, 82, 82, 0.05); }

.sound-player > StBoxLayout:first-child StButton:small:active {
      color: #FFFFFF;
      background-color: #EB6E18;
      border: 1px solid #EB6E18;
      box-shadow: inset 0 2px 4px #EB6E18; }

.sound-player-generic-coverart {
    background: rgba(0, 0, 0, 0.2); }

.sound-player-overlay {
  width: 290px;
  padding: 15px;
  spacing: 0.5em;
  background: rgba(47, 47, 47, 0.9);
  border-top: 1px solid #202020;
  font-size: .75em; }

.sound-player-overlay StButton {  /* forward / back etc */
    width: 24px;
    height: 15px;
    padding: 5px;
    color: #F0F0F0;
    border-radius: 2px;
    border: 1px solid #EB6E18; }

.sound-player-overlay StButton StIcon {
      icon-size: 18px; }   /* icons play,pause,stop */

.sound-player-overlay StButton:hover {
      color: #F0F0F0;
      background-color: #525252;
      border: 1px solid #ffffff;
      box-shadow: inset 0 2px 4px rgba(82, 82, 82, 0.05); }

.sound-player-overlay StButton:active {
      color: #FFFFFF;
      background-color: #EB6E18;
      border: 1px solid #EB6E18;
      box-shadow: inset 0 2px 4px #EB6E18; }

.sound-player-overlay StBoxLayout {
    padding-top: 2px; }

.sound-player-overlay > StBoxLayout {
    spacing: 5px; }

.sound-player .slider {
 /* height: 0.5px; */
  padding: 0;
  border: none;
  -slider-height: 0.5em;
  -slider-background-color: #222222;
  -slider-border-color: rgba(0, 0, 0, 0);
  -slider-active-background-color: #EB6E18;
  -slider-active-border-color: rgba(0, 0, 0, 0);
  -slider-border-width: 0px;
  -slider-handle-radius: 0px; }

/* ===================================================================
* Workspace Switcher applet (workspaceSwitcher.js)
* ===================================================================*/

#workspaceSwitcher {
  spacing: 0px;
  padding: 3px; }

/* Controls the styling when using the "Simple buttons" option */
.workspace-switcher {
  padding-left: 3px;
  padding-right: 3px; }

.panel-left .workspace-switcher, .panel-right .workspace-switcher {
    padding: 0; }

.workspace-button {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  width: 20px;
  height: 14px;
  color: rgba(255, 255, 255, 0.45);
  padding: 3px;
  padding-top: 4px;
  transition-duration: 200; }

.workspace-button.vertical {
    height: 1.5em;
    width: 24px;
    padding: 0;
    padding-top: 3px;
    padding-bottom: 3px; }

.workspace-button:outlined {
    background-color: #FF791A;
    color: #FFFFFF; }

.workspace-button:outlined:hover {
      background-color: rgba(255, 121, 26, 0.7);
      color: #FFFFFF; }

.workspace-button:hover {
    background-color: rgba(255, 255, 255, 0.07);
    color: #FFFFFF; }

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
  padding: 3px;
  spacing: 6px; }

.workspace-graph .workspace {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2); }

.workspace-graph .workspace:active {
  border: 1px solid #FF791A; }

.workspace-graph .workspace .windows {
  -active-window-background: #595654;
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: #595654;
  -inactive-window-border: rgba(0, 0, 0, 0.8); }

.workspace-graph .workspace:active .windows {
  -active-window-background: #746F6D;
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: #3F3D3B;
  -inactive-window-border: rgba(0, 0, 0, 0.8); }

/* ===================================================================
* Panel Launchers Applet (panelLaunchers.js)
* ===================================================================*/

.panel-launchers {          /* space between pinned apps on panel */
  padding-left: 10px;        /* adjust any here or next '.launcher' */
  spacing: 2px; }

.panel-launchers .launcher {  /* space between pinned apps on panel */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    transition-duration: 200; }

.panel-launchers .launcher:hover {
      background-color: #FF791A; }

.panel-launchers.vertical {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    spacing: 1px; }

.panel-launchers.vertical .launcher {
      padding-top: 2px;
      padding-bottom: 2px; }

#overview-corner {
  background-image: url("common-assets/misc/overview.png"); }

#overview-corner:hover {
    background-image: url("common-assets/misc/overview-hover.png"); }

.applet-separator {
  padding: 1px 4px; }

.applet-separator.vertical {
    padding: 4px 1px; }

.applet-separator-line {
  width: 3px;
  background: #ff791a; }

.applet-separator-line-vertical {
    height: 1px;
    background: #ff791a; }

.applet-box {
  padding-left: 4px;
  padding-right: 4px;
  spacing: 4px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.25em;
  text-shadow: none;
  transition-duration: 100;
  text-align: center; }

.applet-box.vertical {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px; }

.applet-box:hover, .applet-box:checked {
    color: #FFFFFF;
    background-color: #A63700; }

.applet-box:highlight {
    background-image: none;
    border-image: none;
    background-color: rgba(242, 13, 31, 0.7); }

.applet-label {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.87); }

.applet-label:hover, .applet-label:checked, .applet-box:hover .applet-label, .applet-box:checked .applet-label {
    color: #FFFFFF;
    text-shadow: none; }

.applet-icon {
  color: #FFFFFF;
  icon-size: 28px; }

.applet-icon:hover, .applet-icon:checked, .applet-box:hover > .applet-icon, .applet-box:checked > .applet-icon {
    color: #FFFFFF;
    text-shadow: none; }

.user-icon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 0; }

.user-label {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1em;
  font-weight: normal;
  margin: 0px; }

.desklet {
  color: rgba(255, 255, 255, 0.87); }

.desklet:highlight {
    background-color: rgba(214, 87, 14, 0.5); }

.desklet-with-borders {
    border: 1px solid #FF791A;
    border-radius: 20px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    padding: 10px;
    border-right: 10px;
    border-bottom: 10px; }

.desklet-with-borders:highlight {
    background-color: rgba(214, 87, 14, 0.5); }

.desklet-with-borders-and-header {
    border: 1px solid #FF791A;
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 20px;
    padding: 12px;
    padding-bottom: 17px;
    border-right: 10px;
    border-bottom: 10px; }

.desklet-with-borders-and-header:highlight {
    background-color: rgba(214, 87, 14, 0.5); }

.desklet-header {
    border: none;
    background-color: transparent;
    color: #FF7412;
    font-size: 1em;
    text-align: center;
    padding: 12px;
    padding-bottom: 6px; }

.desklet-drag-placeholder {
    border: 2px solid #FF791A;
    background-color: rgba(255, 121, 26, 0.3); }

.photoframe-box {
  border: 1px solid #222120;
  border-radius: 5px;
  background-color: #32302F;
  color: rgba(255, 255, 255, 0.87);
  padding: 12px;
  padding-bottom: 16px; }

.notification-applet-padding {
  padding: .5em 1em; }

.notification-applet-container {
  max-height: 100px; }

.tile-preview {
  background-color: rgba(255, 121, 26, 0.3);
  border: 1px solid #FF791A; }

.tile-preview.snap {
    background-color: rgba(255, 121, 26, 0.6); }

.tile-hud {
  background-color: rgba(255, 121, 26, 0.3);
  border: 1px solid #FF791A; }

.tile-hud.snap {
    background-color: rgba(255, 121, 26, 0.6); }

.tile-hud:top {
    border-top-width: 0px; }

.tile-hud:bottom {
    border-bottom-width: 0px; }

.tile-hud:left {
    border-left-width: 0px; }

.tile-hud:right {
    border-right-width: 0px; }

.tile-hud:top-left {
    border-top-width: 0px;
    border-left-width: 0px; }

.tile-hud:top-right {
    border-top-width: 0px;
    border-right-width: 0px; }

.tile-hud:bottom-left {
    border-bottom-width: 0px;
    border-left-width: 0px; }

.tile-hud:bottom-right {
    border-bottom-width: 0px;
    border-right-width: 0px; }

.xkcd-box {
  padding: 6px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px; }
